html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", Helvetica, sans-serif;
  color: #3d3d3d;
  line-height: 1.5;
  @mixin atMedium {
    font-family: "Nunito", Helvetica, sans-serif;
    color: #3d3d3d;
    line-height: 1.42857143;
  }
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

a {
  color: $mainOrange;
}

.highlight {
  color: #41fec6;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: 600;
}

.bolder {
  font-weight: 900;
}

video {
  width: 100%;
  height: auto;
  margin: 20px auto;
}
