html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", Helvetica, sans-serif;
  color: #2c2c2c;
  line-height: 1.5;
  @mixin atMedium {
    font-family: "Nunito", Helvetica, sans-serif;
    color: #2c2c2c;
    line-height: 1.42857143;
  }
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

a {
  color: $mainOrange;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.highlight {
  color: #41fec6;
}

.highlight-blue {
  color: #02aee8;
}

.text-white {
  color: #fff;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: 600;
}

.bolder {
  font-weight: 900;
}

video {
  width: 100%;
  height: auto;
  margin: 20px auto;
}

.small-line {
  max-width: 160px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: #01ade7;
  border-top-width: 5px;
  border-top-style: solid;
  min-height: 1px;
}

.top {
  margin-top: 20px;
}

.right-space {
  padding-right: 0;
  @mixin atMedium {
    padding-right: 35px;
  }
}
