.btn {
  background: $mainBlue;
  color: #fff;
  text-decoration: none;
  padding: 0.75rem 1.2rem;
  display: inline-block;

  font-weight: bold;

  &--orange {
    background-color: $mainOrange;
  }

  &--orange-gradient {
    background: linear-gradient(
      180deg,
      rgba(224, 74, 15, 1) 0%,
      rgba(242, 134, 38, 1) 100%
    );
  }

  &--orange-gradient:hover {
    box-shadow: inset 0 0px 0px 0 rgb(255 255 255 / 22%),
      0 233px 233px 0 rgb(255 255 255 / 12%) inset;
  }

  &--purple {
    background-color: $mainPurple;
  }

  &--purple:hover {
    background-color: $mainLightPurple;
  }

  &--large {
    padding: 9px 25px;
    max-width: 632px;
    margin: 35px auto;
    display: block;

    position: relative;
    border-radius: 5px;
    @mixin atSmall {
      font-size: 1.75rem;
    }
  }

  &--medium {
    padding: 10px 20px;
    width: 100%;
    margin: 30px auto;
    display: block;

    position: relative;
    border-radius: 5px;
  }

  &--medium-section {
    padding: 10px 20px;
    width: 100%;
    margin: 0px auto;
    display: block;

    position: relative;
    border-radius: 5px;
  }

  &--medium-large {
    width: 100%;
    text-align: center;
    font-size: 1.375rem;
  }

  &__headline {
    display: inline-block;
    font-weight: 900;
    font-size: 0.875rem;
    @mixin atSmall {
      font-size: 1.5rem;
    }
  }

  &__sub-headline {
    display: block;
    font-size: 0.75rem;
    opacity: 0.7;
    font-weight: 500;
    @mixin atSmall {
      font-size: 1rem;
    }

    @mixin atLarge {
      font-size: 1rem;
    }
  }
}
