.faq-container {
  &--title-container {
    padding: 15px 0px;
    margin: 0 0 0px 0;
    background: url("assets/images/testimonial-bg.png") center center no-repeat;
    background-size: 100% 100%;

    @mixin atMedium {
      margin: 0 0 24px 0;
      background-size: 100% auto;
    }
  }

  &--title {
    font-size: 1.75rem;
    margin: 0;

    @mixin atMedium {
      font-size: 3.3125rem;
    }
  }

  &--headline {
    font-size: 1.2rem;
    margin: 24px 0px 0px 0px;

    @mixin atMedium {
      font-size: 1.5rem;
    }

    i {
      margin-right: 5px;
    }
  }

  &--description {
    font-size: 0.875rem;
    font-weight: 500;
    margin: 10px 0px 20px 0px;

    @mixin atMedium {
      font-size: 1.25rem;
    }
  }
}
