header {
  background: #0f374f;
}

.header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  @mixin atMedium {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0.625rem;
  }
  & div {
    padding: 0 0.3125rem 0 0.3125rem;

    @mixin atMedium {
      padding: 0.3125rem 0.3125rem 0 0.3125rem;
    }
  }

  &__column-2 {
    grid-column: 3/5;
    margin-top: 0.3125rem;
    @mixin atMedium {
      grid-column: span 2;
      margin-top: 0;
    }
  }

  &__column-10 {
    grid-column: span 6;
    @mixin atMedium {
      grid-column: span 10;
    }
    p {
      text-align: center;
      font-size: 0.875rem;
      margin-bottom: 0.3125rem;
      color: #fff;
      font-weight: 400;
      margin-top: 0px;
      @mixin atMedium {
        text-align: right;
        font-family: "Nunito", Helvetica, sans-serif;
        font-weight: 400;
        margin-top: 9px;
        font-size: 1rem;
      }

      @mixin atLarge {
        text-align: right;
        font-family: "Nunito", Helvetica, sans-serif;
        margin-top: 15px;
        font-size: 1rem;
        color: #fff;
      }
    }

    i {
      font-size: 1rem;
      position: relative;
      top: 3px;
      margin-right: 5px;
      @mixin atMedium {
        font-size: 1.15rem;
        position: relative;
        top: 3px;
        margin-right: 5px;
      }
    }
  }
}
