.page-section {
  padding: 2.5rem 0;

  @mixin atMedium {
    padding: 4.5rem 0;
  }

  &--blue {
    background-color: #e6f8ff;
    color: #fff;
  }

  &--pink {
    background-color: $lightPink;
  }

  &--beauty {
    background: url("assets/images/beauty-img.jpg") center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  &--title {
    font-family: "Nunito", Helvetica, sans-serif;
    font-size: 1.75rem;
    font-weight: 900;

    line-height: 1em;
    margin: 0;
    color: #2c2c2c;

    @mixin atMedium {
      font-size: 3.3125rem;
    }

    @mixin atLarger {
      font-size: 4.3125rem;
    }
  }

  &--title-big {
    font-family: "Nunito", Helvetica, sans-serif;
    font-size: 1.75rem;
    font-weight: 900;
    padding: 0px 0px;
    line-height: 1em;
    margin: 0;
    color: #2c2c2c;

    @mixin atMedium {
      font-size: 3.3125rem;
      padding: 0px 0px;
    }

    @mixin atLarger {
      font-size: 4.5rem;
      padding: 0px 17px;
    }
  }

  &--title-bigger {
    font-family: "Nunito", Helvetica, sans-serif;
    font-size: 1.75rem;
    font-weight: 900;
    padding: 0px 0px;
    line-height: 1em;
    margin: 0;
    color: #2c2c2c;

    @mixin atMedium {
      font-size: 3.3125rem;
      padding: 0px 0px;
    }

    @mixin atLarger {
      font-size: 4.8125rem;
      padding: 0px 19px;
    }
  }

  &--description {
    font-size: 1.125rem;
    color: #2c2c2c;

    @mixin atMedium {
      font-size: 1.3125rem;
    }
  }

  &--description-big {
    font-size: 1.125rem;
    color: #2c2c2c;
    padding: 0px 0px;

    @mixin atMedium {
      font-size: 1.5625rem;
      padding: 0px 17px;
    }
  }

  &--list-bold {
    list-style-type: none;
    padding: 0;
    li {
      background: url("assets/images/arrow-right-blue.png") no-repeat;
      font-size: 1.125rem;
      background-position: 7px 12px;
      font-weight: 500;
      padding: 10px 10px 10px 50px;
      line-height: 1.5em;
      color: #2c2c2c;
      @mixin atMedium {
        font-size: 1.3125rem;
        line-height: 1.2em;
        font-weight: 600;
        color: #2c2c2c;
      }
    }
  }

  &--list-non-bold {
    list-style-type: none;
    padding: 0;
    li {
      background: url("assets/images/arrow-right-blue.png") no-repeat;
      font-size: 1.125rem;
      background-position: 7px 12px;
      font-weight: 500;
      padding: 10px 10px 10px 50px;
      line-height: 1.5em;
      color: #2c2c2c;
      @mixin atMedium {
        font-size: 1.3125rem;
        line-height: 1.5em;
        font-weight: 500;
        color: #2c2c2c;
      }
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  &--no-b-padding-until-medium {
    padding-bottom: 0;

    @mixin atMedium {
      padding-bottom: 4.5rem;
    }
  }

  &--no-b-padding-until-large {
    padding-bottom: 0;

    @mixin atLarge {
      padding-bottom: 4.5rem;
    }
  }
}
