.site-footer {
  background-color: $footerBg;
  color: #fff;

  text-align: center;

  .logo-container {
    margin-bottom: 20px;
  }

  .site-footer-description {
    font-size: 0.8125rem;
    max-width: 807.5px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .site-footer-links {
    margin: 20px 0;
    font-size: 0.8125rem;
    color: #fff;

    a {
      text-decoration: none;
      color: #fff;
    }

    a:hover {
      text-decoration: underline;
      color: #fff;
    }
  }

  &__text {
    display: block;
    margin-bottom: 1rem;
    margin-right: 0;
    font-weight: 200;
    font-size: 0.8125rem;

    @mixin atMedium {
      display: inline;
      margin-bottom: 0;
      font-size: 0.8125rem;
    }

    a {
      color: #fff;
    }
  }
}
